*{
    margin: 0%;
    padding: 0%;
}

.uno{
    width: 70%;
    height: 50px;
    background-color: #454FBE;
    padding-left: 10px;
    border-radius: 10px;
    position: fixed;
    left: 50px;
    top: 40px;
}

.dos{
    width: 13%;
    height: 300px;
    background-color: #454FBE;
    left: 30px;
    top: 110px;
    padding-left: 10px;
    border-radius: 10px;
    position: fixed;
}

.tres{
    width: 75%;
    height: 50px;
    top: 140px;
    left: 260px;
    padding-left: 10px;
    border-radius: 10px;
    position: fixed;
    background-color: white;
}

.cuatro{
    width: 13%;
    height: 300px;
    background-color: white;
    left: 25%;
    top: 250px;
    padding-left: 10px;
    border-radius: 10px;
    position: fixed;
}

.cinco{
    width: 13%;
    height: 230px;
    background-color: #454FBE;
    left: 50%;
    top: 280px;
    padding-left: 10px;
    border-radius: 10px;
    position: fixed; 
}

.seis{
    width: 13%;
    height: 260px;
    background-color: white;
    left: 80%;
    top: 250px;
    padding-left: 10px;
    border-radius: 10px;
    position: fixed; 
}

.siete{
    width: 13%;
    height: 230px;
    background-color: white;
    left: 80px;
    top: 64%;
    border-radius: 10px;
    position: fixed; 
}

.ocho{
    width: 55%;
    height: 7%;
    background-color: #454FBE;
    left: 40%;
    top: 83%;
    border-radius: 10px;
    position: fixed; 
}

.nueve{
    width: 60%;
    height: 7%;
    background-color: white;
    left: 25%;
    top: 92%;
    border-radius: 10px;
    position: fixed;
}